{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}
